
<table class="ui table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Pressure</th>
      <th>Soil Moisture</th>
    </tr>
  </thead>

  <tbody>
      {{#each tempReadings}}
    <tr>
      <td>
        {{lookup @root.timeReadings @key}}
      </td>
      <td>
        {{lookup @root.tempReadings @key}}
      </td>
      
      <td>
        {{lookup @root.humReadings @key}}
      </td>
      <td>
        {{lookup @root.pressReadings @key}}
      </td>
      <td>
        {{lookup @root.soilReadings @key}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
